defaultHandler:
  lib/default.handler
meta:
  sitetitle: Welcome to serverless!
sitemap:
  /:
    title: Welcome!
    handler: lib/index.handler
  /hello:
    title: Hello World
    handler: lib/index.handler
  /about:
    title: About us
    handler: lib/index.handler